:root {
  --background: #ffffff;
  --color-text: #212121;
  --color-text-secondary: #ffffff;
  --color-text-info: #757575;
  --selected-text: #2196f3;
  --default-time: 250ms;
  --default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--color-text);
  max-width: 1600px;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 4.4rem;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--color-text-secondary);
  width: 696px;
  top: 280px;
  margin: 0 auto;
}

.section {
  padding-block: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.borders {
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.02em;
  margin-top: 16px;
  margin-bottom: 14px;
}

.nv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.kl {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.main-page-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  margin-right: 70px;
  margin-top: 60px;
}

.weblogo {
  color: #2196f3;
}

.link-nv {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.nav-active {
  position: relative;
  display: flex;
  color: var(--selected-text);
}

.nav-active::after {
  content: "";
  position: absolute;
  background: var(--selected-text);
  width: 100%;
  height: 4px;
  top: 44px;
  border-radius: 2px;
}

.link-kl {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.link-phone {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.link-phone:hover,
.link-phone:focus {
  color: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.link-phone:hover .envelope-icon,
.link-phone:focus .envelope-icon,
.link-phone:hover .smartphone-icon,
.link-phone:focus .smartphone-icon {
  fill: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.link-kl:hover,
.link-kl:focus {
  color: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.link-kl:hover .envelope-icon,
.link-kl:focus .envelope-icon,
.link-kl:hover .smartphone-icon,
.link-kl:focus .smartphone-icon {
  fill: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.link-nv:hover,
.link-nv:focus,
.pointer:hover {
  color: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.title {
  height: 600px;
  background-color: #2f303a;
  padding: 200px 452px 280px 452px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header-index.jpg");
  background-size: cover;
  border: 1px solid #000000;
}

.title-logo {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text-secondary);
  background-color: var(--selected-text);
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  /* visibility: hidden; */
}

.lorem-one {
  display: flex;
  padding-bottom: 94px;
  gap: 30px;
}

.lorem-ipsum {
  font-weight: 700;
  font-size: 14px;
}

.lorem-dolor {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  color: #757575;
}

.one-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3%;
  color: #212121;
}

.image-one {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.img-list {
  position: relative;
}

.img-description {
  position: absolute;
  bottom: -12px; /* chciałam 0 ale nie było wtedy tego cienia od dołu i nie wiem czy w taki sposób ok */
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ourpeoples {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 30px;
  margin-top: 94px;
}

.ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.fantastic-four {
  display: flex;
  gap: 20px;
}

.backg {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.nameone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.working {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
}

.footer-bg {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-left: 15px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 60px;
  padding-left: 15px;
}
.footer-studio {
  color: #ffffff;
  margin-left: -5px;
}

.footer-wawa {
  font-style: normal; /* usuwa kursywę */
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
  margin-top: 20px;
  margin-bottom: 9px;
}

.linkadress {
  font-style: normal; /* usuwa kursywę */
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none; /* usuwa podkreślenie */
  color: rgba(255, 255, 255, 0.6);
  display: block; /* wyświetla mail i numer jedno pod drugim */
  padding-bottom: 9px;
}

.flexo {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 94px;
}

.pointer {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #f5f4fa;
  border-radius: 4px;
  border: #f5f4fa;
  margin-bottom: 25.5px;
  padding: 4px 16px 4px 16px;
}

.flexo button:hover,
.flexo button:focus {
  color: var(--color-text-secondary);
  background-color: var(--selected-text);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.fotki {
  display: flex;
  flex-wrap: wrap; /* ustawia odstęp między wierszami i kolumnami */
  justify-content: space-evenly;
  gap: 30px;
  padding: 0;
}

.backfocus:hover,
.backfocus:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.backfocus {
  flex-basis: calc((100% - 90px) / 3); /* ustawia szerokość elementów */
  background-color: var(--background);
}

.card-portfolio {
  display: grid; /* usunęło przerwę między obrazkiem a białym tłem z tekstem poniżej */
  margin: 0;
  width: 370px;
}

.box-to-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.overlay p {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
  margin: 49px 45px 49px 24px;
}
.card-portfolio:hover .overlay {
  transform: translateY(0);
}

.name-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}

.backdescription {
  margin: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-right: 18px;
  padding-top: 19px;
  padding-left: 18px;
  text-align: left;
}

.figcaptionname {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 0 20px 0;
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: #757575;
}

.background-icons-index {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.icons-team-index {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}

.team-icons-four {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-color {
  fill: #afb1b8;
  margin: 27.27%;
}

.team-icons-four:hover,
.team-icons-four:focus {
  stroke: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
  stroke: #ffffff;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.team-icons-four:hover .icon-color {
  fill: #ffffff;
}

/*=============================================*/
.ourclients {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-margin {
  display: flex;
  gap: 30px;
}
.clients {
  width: 170px;
  height: 92px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
/* ===== ICONS ==== */
.svg-clients-logo {
  fill: #afb1b8;
}
.clients:hover,
.clients:focus {
  cursor: pointer;
  border: 1px solid var(--selected-text);
}
.clients:hover .svg-clients-logo,
.clients:focus .svg-clients-logo {
  fill: var(--selected-text);
}
/*=============================================*/
.socjal-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.socjal {
  height: 80px;
  width: 206px;
  margin-top: -138px;
  margin-left: 531px;
}

.icon-instagram-socjal,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
  fill: #ffffff;
  margin: 12px;
  stroke: #ffffff;
}

.icons-group-footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.icons-list-footer {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-list-footer:hover {
  background-color: #2196f3;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}
